# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Database
*.db

# Playwright reports
playwright-report/

# Screenshots
*.png

# Logs
*.log